<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @join_mailer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @join_mailer.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @join_mailer.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @join_mailer.phone_number %>
</p>

<p>
  <strong>Major:</strong>
  <%= @join_mailer.major %>
</p>

<p>
  <strong>Grad date:</strong>
  <%= @join_mailer.grad_date %>
</p>

<p>
  <strong>Message:</strong>
  <%= @join_mailer.message %>
</p>

<%= link_to 'Edit', edit_join_mailer_path(@join_mailer) %> |
<%= link_to 'Back', join_mailers_path %>
