<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <!-- This is the title shown in your browser's title bar -->
    <title>Advancing Innovative Minds</title>
    <!-- Update keywords and description to help get picked up by search engines -->
    <meta name="keywords" content="Advancing Innovative Minds, AIM, UNCC AIM, AIM UNCC, aim uncc, unccaim, aimuncc, Charlotte, Entrepreneur, Entrepreneurship" />
    <meta name="description" content="Advancing Innovative Minds (AIM) is UNC Charlotte's most active and dedicated entrepreneurial club. We plan on using the booming development of the Charlotte area as a catalyst to create truly effective ideas that will culminate into thriving businesses." />
    <!-- This is a favicon (the icon you see when you bookmark a website). Link to the favicon from your university's website, or upload one to the Images section and use the quickurl to link to it here. Favicons must have .ico extension. -->
    <link rel="icon" src="AIM_TRANS.png" type="image/x-icon" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <nav>
      <ul>
        <li>
          <a>
            <img class="navbar-brand" src="logo.png" />
          </a>
        </li>
        <li><%= link_to "HOME", :controller => 'pages', :action => 'home' %></li>
        <li><%= link_to "EXECUTIVE BOARD", :controller => 'members', :action => 'executives' %></li>
        <!-- <li><%= link_to "MEMBERS", :controller => 'members', :action => 'index' %></li> -->
        <li><%= link_to "NEWS", :controller => 'news', :action => 'index' %></li>
        <li><%= link_to "CALENDAR", :controller => 'pages', :action => 'Calendar' %></li>
        <li><%= link_to "GET INVOLVED", :controller => 'pages', :action => 'Get_Involved' %></li>
        <li>
          <% if current_user %>
          <ul>
            <li><%= current_user.email %></li>
            <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
          </ul> <% else %> 
          <ul>
            <li><%= link_to "Log In", 'login' %></a></li>
       <!-- <li><%= link_to "Sign Up", 'signup' %></a></li> -->
          <% end %>  
            <li>
              <a href= "https://www.uncc.edu" title= "Visit UNCC">
                <img src="logo.png" />
              </a>
            </li>
            <li>
              <button type='button' class='navbar-toggle'>
                <span class='sr-only'>Toggle Navigation</span>
                <span class= 'icon-bar'></span>
                <span class= 'icon-bar'></span>
                <span class= 'icon-bar'></span>
              </button>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </head>
</html>
<body>
