<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<link href='css/bootstap.min.css' rel='stylesheet'>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />

<!-- This is the title shown in your browser's title bar -->
<title>Advancing Innovative Minds</title>

<!-- Update keywords and description to help get picked up by search engines -->
<meta name="keywords" content="Advancing Innovative Minds, AIM, UNCC AIM, AIM UNCC, aim uncc, unccaim, aimuncc, Charlotte, Entrepreneur, Entrepreneurship" />
<meta name="description" content="Advancing Innovative Minds (AIM) is UNC Charlotte's most active and dedicated entrepreneurial club. We plan on using the booming development of the Charlotte area as a catalyst to create truly effective ideas that will culminate into thriving businesses." />

<!-- This is a favicon (the icon you see when you bookmark a website). Link to the favicon from your university's website, or upload one to the Images section and use the quickurl to link to it here. Favicons must have .ico extension. -->
<link rel="icon" href="[[image:AIM_BRAIN_TRANS]]" type="image/x-icon" />

</head>
<body>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	
	<div class= "nav_bar">
	    <a href= "<% link_to 'HOME', :action => 'home', :controller => 'pages' %>" title= "AIM | Home"><img id= "logo" src= "https://d1q9wbuypc40mm.cloudfront.net/xy332ag7s8dv0d0.jpg"/></a><!--add a link to home-->
        <ul class="nav_container"
            <li id= "nav_links"><%= link_to "HOME", :controller => 'pages', :action => 'home' %></li>
            <li id= "nav_links"><%= link_to "EXECUTIVE BOARD", :controller => 'members', :action => 'executives' %></li>
            <li id= "nav_links"><%= link_to "MEMBERS", :controller => 'members', :action => 'index' %></li>
            <li id= "nav_links"><%= link_to "NEWS", :controller => 'news', :action => 'index' %></li>
            <li id= "nav_links"><%= link_to "CALENDAR", :controller => 'pages', :action => 'Calendar' %></li>
            <li id= "nav_links"><%= link_to "GET INVOLVED", :controller => 'pages', :action => 'Get_Involved' %></li>
            </ul>
        <div class="soc_links">
        <ul>
            <li id= "nav_links"><a href= "https://www.facebook.com/aimuncc" title= "Like AIM on Facebook!"><img id= "soc_net" id="facebook" src= "https://d1q9wbuypc40mm.cloudfront.net/8bni8ebstpojwes.png"/></a></li>
            <li id= "nav_links"><a href= "https://www.linkedin.com/groups/Advancing-Innovative-Minds-8104445/about" title= "Join AIM on LinkedIn!"><img id= "soc_net" id="linkedin" src= "https://d1q9wbuypc40mm.cloudfront.net/ughjm7k8coiskx9.png"/></a></li>
            <li id= "nav_links"><a href= "https://twitter.com/aimuncc" title= "Follow AIM on Twitter!"><img id= "soc_net" id="twitter" src= "https://d1q9wbuypc40mm.cloudfront.net/b6wp6r8eps2ukhe.png"/></a></li>
            <li id= "nav_links"><a href= "http://instagram.com/uncc_aim" title= "Follow AIM on Instagram!"><img id= "soc_net"  id="instagram"src= "https://d1q9wbuypc40mm.cloudfront.net/okujfqu9nlkly5p.png"/></a></li>
            <li>
              <% if current_user %>
<ul>
  <li><%= current_user.email %></li>
  <li><%= link_to "Log out", logout_path, method: "delete" %></li>
</ul> <% else %> 
<ul>
  <li><%= link_to "Login", 'login' %></a></li>
  <li><%= link_to "Signup", 'signup' %></a></li>
</ul>
<% end %>
            </li>
        </ul>
        </div>
	</div>
<div>
