<main>
	<div class="row">
    <div class="home_banner col-sm-12">
        <div class="home_overlay">
            <h1>Turning Creative Thinkers,</h1>
						</br>
            <h1>Into Business Leaders</h1>
						</br>
            <%= button_to "Join Now", {:controller => :guests, :action => :new}, {:method => :get } %>
        </div>
    </div>
  </div>
	<div class="row">
  <section class="home_mid">
    <h1>Make a Living Doing What You Love, Creating What You Want</h1>
    <h2>Whether you have an idea for the next big start-up or are just curious about entrepreneurship and self employment, AIM is the right place to start!</h2>
    <div class="col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'parade.png', :alt => 'Parade' %>
        <figcaption>
          <h3>The Most Innovative Minds</h3>
          <p>AIM collects the most creative minds at UNC Charlotte to discuss innovative business ideas. Even if you don't have an idea, you can join a team that is developing something that piques your interest.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'brokaw.jpg', :alt => 'Jeff Brokaw' %>
        <figcaption>
          <h3>Test Your Idea</h3>
          <p>When attending AIM's Workshops, you'll find out if your idea is something that people will pay for before you invest your time and money into it.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-sm-3">
      <figure>
        <%= image_tag 'CFL.jpg', :alt => 'Cystic Fibrosis Fundraiser' %>
        <figcaption>
          <h3>Pursue your idea with confidence</h3>
          <p>Once you've mastered AIM's prep skills we'll connect you with entrepreneurial resources that can prepare you for fundraising, legal advice and mentoring.</p>
        </figcaption>
      </figure>
    </div>
  </section>
	</div>
	<div class="row">
    <div class="home_banner col-sm-12" id="network">
        <div class="home_overlay">
            <h1>Connect with the Best Entrepreneurs in Charlotte</h1>
        </div>
    </div>
  </div>
	</section>
	<section class="home_mid">
		<h2>Notable Speakers</h2>
    <div class="col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'parade.png', :alt => 'Parade' %>
        <figcaption>
          <h3>Jeff Brokaw</h3>
          <p>Director</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'brokaw.jpg', :alt => 'Jeff Brokaw' %>
        <figcaption>
          <h3>Zerrick Bynum</h3>
          <p>Founder</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-sm-3">
      <figure>
        <%= image_tag 'CFL.jpg', :alt => 'Cystic Fibrosis Fundraiser' %>
        <figcaption>
          <h3>Paul Wettenhall</h3>
          <p>President</p>
        </figcaption>
      </figure>
    </div>
	</section>
</main>
