<main>
	<div class="row">
    <div class="home_banner col-sm-12">
        <div class="home_overlay">
            <h1>Turning Creative Thinkers,</h1>
						</br>
            <h1>Into Business Leaders</h1>
						</br>
            <%= button_to "Join Now", {:controller => :guests, :action => :new}, {:method => :get } %>
        </div>
    </div>
  </div>
	<div class="row">
  <section class="home_mid">
    <h1>Make a Living Doing What You Love, Creating What You Want</h1>
    <h2>Whether you have an idea for the next big start-up or are just curious about entrepreneurship and self employment, AIM is the right place to start!</h2>
    <div class="col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'parade.png', :alt => 'Parade' %>
        <figcaption>
          <h3>The Most Innovative Minds</h3>
          <p>AIM collects the most creative minds at UNC Charlotte to discuss innovative business ideas. Even if you don't have an idea, you can join a team that is developing something that piques your interest.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-sm-6">
      <figure>
        <%= image_tag 'brokaw.jpg', :alt => 'Jeff Brokaw' %>
        <figcaption>
          <h3>Test Your Idea</h3>
          <p>When attending AIM's Workshops, you'll find out if your idea is something that people will pay for before you invest your time and money into it.</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-offset-4 col-sm-4">
      <figure>
        <%= image_tag 'recess.png', :alt => 'Cystic Fibrosis Fundraiser' %>
        <figcaption>
          <h3>Pursue your idea with confidence</h3>
          <p>Once you've mastered AIM's prep skills we'll connect you with entrepreneurial resources that can prepare you for fundraising, legal advice and mentoring.</p>
        </figcaption>
      </figure>
    </div>
  </section>
	</div>
	<div class="row">
    <div class="home_banner col-sm-12" id="network">
        <div class="home_overlay">
            <h1>Connect with the Best Entrepreneurs in Charlotte</h1>
						<h2>AIM regularly hosts successful small business owners that give their secrets to success</h2>
        </div>
    </div>
  </div>
	<div class="row">
	<section class="home_mid">
		<h1>Former Speakers</h1>
    <div class="col-md-4 col-sm-6">
      <figure class="speakers">
        <%= image_tag 'jb.png', :alt => 'Jeff Brokaw' %>
        <figcaption>
          <h3>Jeff Brokaw</h3>
          <p>Charlotte Director of Google's Startup Grind</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-sm-6">
      <figure class="speakers">
        <%= image_tag 'zb.jpg', :alt => 'Zerrick Bynum' %>
        <figcaption>
          <h3>Zerrick Bynum</h3>
          <p>Founder of Happzee</p>
        </figcaption>
      </figure>
    </div>
    <div class="col-md-4 col-md-offset-0 col-sm-offset-3 col-sm-4">
      <figure class="speakers">
        <%= image_tag 'pw.jpg', :alt => 'Paul Wettenhall' %>
        <figcaption>
          <h3>Paul Wettenhall</h3>
          <p>President of Ventureprise</p>
        </figcaption>
      </figure>
    </div>
	</section>
	</div>
	<div class="row">
	<section class="sponsors">
		<h1>Sponsored By:</h1>
		<figure>
			<a href="https://www.studypool.com/">
				<%= image_tag 'studypool.png', :alt=> 'studypool' %>
				<figcaption>
				<p>Studypool, a leader in online homework help</p>
				</figcaption>
			</a>
		</figure>
		</a>
	</section>
	</div>
</main>
