<%= render 'shared/header'%>
<div id="ghost">&nbsp;</div>
<div class="Exec_head">
<h1 id="Exec_Head">Executive Board</h1>

<p id="Exec_para">AIM&#39;s team consists of highly talented and creative individuals who are passionate about improving the world through teamwork and innovation.</p>
</div>
<div class="Board">
<% @members.each do |member| %>
<% full_name = member.first_name + member.last_name %>
<div class="img">
<img alt= <%= member.first_name %> <%= member.last_name %> height="90" src="https://d1q9wbuypc40mm.cloudfront.net/pfv5n8898qr83xj.jpg" width="110" />
<div class="desc">
<p id="exec_title"><%= member.executive_position %></p>
<script id= "linkedin" src="//platform.linkedin.com/in.js" type="text/javascript"></script><script type="IN/MemberProfile" data-id= <% member.linkedin_url %> data-format="hover" data-text= <%= full_name %> data-related="false"></script>

<p><%= member.is_executive %></p>

<p><%= member.major %></p>

<p><%= member.email %></p>

<%= link_to 'Show', member_path(member) %>

<%= link_to 'Edit', edit_member_path(member) %>

<%= link_to 'Destroy', member, method: :delete, data: { confirm: 'Are you sure you want to delete ' + member.first_name + '?'}%>
</div>
</div>
</div>
<% end %>
